* {
    margin: 0;
    padding: 0;
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

#app {
    max-height: 100vh;
}

/* 全局变量 */
:root {
    /* 顶部导航栏 */
    --top-navbar-height: 50px;
    --top-navbar-box-shadow: 0 1px 2px #c7c8c9;
    --top-navbar-z-index: 1;
    /* 顶部导航栏logo */
    --top-navbar-logo-width: 120px;
    --top-navbar-logo-margin-left: 20px;
    --top-navbar-logo-font-size: 20px;
    --top-navbar-logo-color: #cc8f14;
    --top-navbar-logo-text-margin-left: 6px;
    /* 顶部导航栏菜单 */
    --top-navbar-menu-item-width: 100px;
    --top-navbar-menu-item-font-size: 16px;
    --top-navbar-menu-item-default-color: #303133;
    --top-navbar-menu-item-active-color: #409eff;
    --top-navbar-menu-more-icon-margin-left: 6px;
    /* 顶部导航栏用户 */
    --top-navbar-user-width: 180px;
    --top-navbar-user-font-size: 16px;
    --top-navbar-user-avatar-width: 30px;
    --top-navbar-user-avatar-height: 30px;
    --top-navbar-user-name-margin-left: 6px;
    --top-navbar-user-name-margin-right: 18px;
    /* 侧边栏 */
    --sidebar-container-width: 200px;
    --sidebar-container-background-color: #ffffff;
    --sidebar-container-transition: width 0.28s;
    /* 侧边栏菜单 */
    --sidebar-icon-width: 16px;
    --sidebar-icon-height: 16px;
    --sidebar-icon-margin-right: 8px;
    /* 标签页 */
    --tags-view-container-height: 40px;
    --tags-view-container-background-color: #ffffff;
    --tags-view-container-border-bottom: 1px solid #d8dce5;
    --tags-view-container-box-shadow: 0 1px 3px 0 #0000001e, 0 0 3px 0 #0000000a;
    /* 标签页项 */
    --tags-view-item-width: 20px;
    --tags-view-item-height: 28px;
    --tags-view-item-margin: 0 4px;
    --tags-view-item-padding: 0 8px;
    --tags-view-item-font-size: 14px;
    --tags-view-item-default-color: #495060;
    --tags-view-item-background-color: #ffffff;
    --tags-view-item-border: 1px solid #d8dce5;
    --tags-view-item-active-color: #ffffff;
    --tags-view-item-active-background-color: #409eff;
    --tags-view-item-active-border-color: 1px solid #409eff;
    /* 标签页项before */
    --tags-view-item-active-before-width: 6px;
    --tags-view-item-active-before-height: 6px;
    --tags-view-item-active-before-margin: 8px 6px 0 0;
    --tags-view-item-active-before-transform-translate: translate(0, -40%);
    --tags-view-item-active-before-background-color: #ffffff;
    --tags-view-item-active-before-border-radius: 50%;
    /* 标签页项关闭按钮 */
    --tags-view-item-close-width: 16px;
    --tags-view-item-close-height: 16px;
    --tags-view-item-close-margin-left: 4px;
    --tags-view-item-close-border-radius: 50%;
    --tags-view-item-close-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    --tags-view-item-close-transform-origin: 100% 50%;
    /* 标签页项关闭按钮hover */
    --tags-view-item-close-hover-color: #ffffff;
    --tags-view-item-close-hover-background-color: #b4bccc;
    /* 标签页项关闭按钮icon */
    --tags-view-item-close-icon-transform: translate(0, -25%) scale(0.5);
    /* 标签页项关闭按钮contextmenu */
    --tags-view-contextmenu-wrapper-list-style-type: none;
    --tags-view-contextmenu-wrapper-font-size: 14px;
    --tags-view-contextmenu-wrapper-color: #333333;
    --tags-view-contextmenu-wrapper-background-color: #ffffff;
    --tags-view-contextmenu-wrapper-border-radius: 4px;
    --tags-view-contextmenu-wrapper-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    --tags-view-contextmenu-wrapper-z-index: 1;
    /* 标签页项关闭按钮contextmenu li */
    --tags-view-contextmenu-li-padding: 6px 12px;
    /* 标签页项关闭按钮contextmenu li hover */
    --tags-view-contextmenu-li-hover-background-color: #eeeeee;
    /* 标签页项关闭按钮contextmenu li icon */
    --tags-view-contextmenu-li-icon-width: 14px;
    --tags-view-contextmenu-li-icon-height: 14px;
    --tags-view-contextmenu-li-icon-margin-right: 6px;
}
